body{
    border: 0;
}
.header{
    display: flex;
    cursor: pointer;
}
.v{
    display: inline;
    padding: 10px;
    margin-left: 20px;
}
.v:hover{
    color: black;
}
.v1{
    font-weight: 300;
    display: inline;
    padding: 20px;

}
.v1:hover{
    color: black;
}
.icon{
    width: 146px;
    padding-left: 66px;
}
.right{
    margin-left: 355px;
    color: #008cba;
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;

}
.bg1{
    background-image: url(./bg1.png);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}
.bt1{
    background-color: #00095b;
    color: white;
    border-radius: 15px;
    height: 45px;
    width: 153px;
    margin-top: 39%;
    margin-left: 7%;
    border-color: white;
    border-width: 2px;
    padding: 10px;
    font-family: FordAntennaCond;
    letter-spacing: 1px;
    font-weight: 500px;
    font-size: large;
    cursor: pointer;
}
.bt1:hover{
    font-size: 150%;
    background-color: white;
    color: blue;
    padding-bottom: 10px;

}
.bg2{
    padding-top: 10px;
    background-image: url(./bg2.png);
    width: 88%;
    height: 530px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 8%;
    margin-left: 6%;
}
.bt2{
    background-color: #00095b;
    color: white;
    border-radius: 15px;
    height: 45px;
    width: 228px;
    margin-top: 27%;
    margin-left: 4%;
    border-color: white;
    border-width: 2px;
    padding: 10px;
    font-family: FordAntennaCond;
    letter-spacing: 1px;
    font-weight: 500px;
    font-size: large;
    cursor: pointer;
}
.bt2:hover{
    font-size: 150%;
    background-color: white;
    color: blue;
    padding-bottom: 10px;
}
.bg3
{
    width: 88%;
    height: 530px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 8%;
    margin-left: 6%;
}
h1{
    color: #00095b;
    font-size: xx-large;
    font-weight: bold;
    width: 80%;
    height: 10px;
    float: left;
    padding-left: 85px;
    margin-top: 5%;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
p{
    float: left;
    padding-left: 85px;
    color: #4d4d4d;
    padding-top: 10px;
    font-size: 1.2rem;
    font-family: "FordAntenna";
}
.bg4{
    width: 88%;
    height: 530px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 2%;
    margin-left: 6%;
}
h2{
    color: #00095b;
    font-size: xx-large;
    font-weight: 500;
    width: 80%;
    height: 10px;
    float: left;
    padding-left: 85px;
    margin-top: 2%;
}
/* p{
    float: left;
    padding-left: 85px;
    color: #4d4d4d;
    padding-top: 10px;
    font-family: "FordAntenna";
    font-size: 1.2rem;
} */
.c1{
    float: left;
    margin-top: 51px;
    margin-right: 2px;
    margin-left: -714px;
    color: #00095b;
    font-family: "FordAntennaBold";
    font-size: 1.125rem;
    line-height: 1.5rem;
    cursor: pointer;
    padding-top: 7px;
}
.c1:hover{
    color: blue;
}
.imgm{
    margin-top: 330px;
    display:flex ;
position: absolute;
justify-content: space-around;
align-items: center;
height: 80vh;
width: 80%;

}
.bg51{
        width: 558px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 62px;
        margin-left: 288px;

}
.bg52{
    width: 558px;
    padding-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-left: 182px;
}
.main{
display:flex ;
position: absolute;
justify-content: space-around;
align-items: center;
}
.s{
    color: #00095b;
    padding-top: 105px;
    font-weight: 500;
}
.body4{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
}
.heading{
float: left;
text-align: justify;
display:flex ;
flex-direction: column;
justify-content: left;
margin-left: 150px;

}
.heading p{
    float: left;
    text-align: left; 
    margin-left: 0px;
}
.heading1{
    float: left;
text-align: justify;
display:flex ;
flex-direction: column;
justify-content: left;
margin-left: 109px;
}
.body5{
    margin-top: 950px;
    width: 50%;
    height: 50px
}
.img2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 42px;
}
.i1{
    width: 420px;
    padding: 10px;
    margin-top: 120px;
    padding-right: 20px;
}
.letter{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    margin-top: 350px;
    width: 98%;
    /* text-align: center; */
}
.letter1{
    margin-right: -19px;
    padding-right: 10px;
    margin-left: -47px;
}
.letter2{
    margin-left: 40px;
}
.letter3{
    
    margin-right: 118px;

}
.l1{
    text-align: left;
    margin-left: 20px;
}
.para1{
    text-align: left;
    margin-left: 25px;
}
.l2{
    text-align: left;
}
.para2{
    text-align: left;
}

.body6{
    width: 100%;
    height: 130px;
}
.body61{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.img31
{
    width: 40%;
    margin-left: 35px;
}
.img32{
    width: 40%;
    padding-right: 80px;
}
.h3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.h31{
    text-align: justify;
    flex-direction: column;
}
.h32{
    margin-left: -140px;
}
.imgl{
    width: 87%;
    height: 674px;
    margin-left: 70px;
}
.book{
    border: white;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    color: black;
}
.dis{
    margin-top: 50px;
    width: 100%;
}
.dis1{
    text-align: center;
    padding-top: 100px;
    border-bottom:2px solid #ccc;
    border-top:2px solid #ccc;
    padding-bottom: 3%;
    cursor: pointer;
    color: #008cba;
    
}
.text{ width: 97%;
    background-color: #f7f7f7;
    height: 120px;
    padding-top: 20px;
    text-align: left;
    

}
.check{
    width: 94%;
    height: 100px;
    font-size: larger;
    background: #343434;
    padding-left: 85px;
}
.search{
    position: absolute;
    padding-top: 32px;
    margin-left: 32px;
}
.last{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: white;
    height: 450px;
    background-color: black;
    text-align: justify;
}
li{
    list-style-type: none;
    padding-right: 10px;
    padding-top: 10px;
    cursor: pointer;
}
h4{
    
    margin-left: 42px;
    text-decoration: underline;
}
.last1{
    width: 100%;
    background-color: #1b394e;
    height: 100px;
    display: flex;
    flex-direction: row;
    height: 30px;
    height: 100px;
}
.w{
    color: white;
}
.icon1{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.icon2{
    padding-right: 890px;
    width: 50%;
    margin-top: 31px;
}

